
/* Color Theme Swatches in Hex */
$color-1: #027373;
$color-2: #038C7F;
$color-3: #ADD9D1;
$color-4: #D95252;
$color-5: #232323;

// /* Color Theme Swatches in Hex */
// $color-1: #054159;
// $color-2: #30728C;
// $color-3: #0396A6;
// $color-4: #D9D0BF;
// $color-5: #0D0D0D;



$color-blue: #2F9BC1;
$color-green: #1AB495;

$color-red: $color-4;

