$font-family-fallback-sans-serif: 'Neue Helvetica', Helvetica, Verdana, sans-serif;
$font-family-fallback-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


$font-family-copy: 'Open Sans', $font-family-fallback-sans-serif;
$font-family-headline: 'Merriweather', $font-family-fallback-serif;
$font-family-subclaims: 'Merriweather', $font-family-fallback-serif;
$font-family-menu: 'Noto Sans', $font-family-fallback-sans-serif;


